.header-logo {
  height: 7rem;
}
.header-button-login {
  color: #18a0fb !important;
  border: 1px solid #18a0fb !important;
  border-radius: 6px !important;
  width: 6rem;
}
.header-button-register {
  color: white !important;
  border-radius: 6px !important;
  background-color: #18a0fb !important;
  width: 6rem;
}
.header-link {
  text-decoration: none;
  color: #18a0fb;
}
.header-link-active {
  text-decoration: underline;
  color: black;
}
