.main-navbar {
  box-shadow: -1px 7px 12px -3px rgba(66, 17, 16, 0.2);
  background-color: #e3f2fd;
}

.header-logo {
  height: 7rem;
}

.header-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header-link::after {
  content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #db5752;;
    transition: width .3s;
}

.header-link:hover::after {
  width: 100%;
}

.header-link:hover {
  color: #000;
}

