.news-row {
  margin: 86px 0 150px 0 !important;
}

.news-link {
  color: #18a0fb !important;
  text-decoration: none;
  border: none;
  font-size: 15px;
  line-height: 18px;
}

.news-link:focus {
  text-decoration: underline;
}

.news-btn {
  color: #18a0fb !important;
  background-color: #fff !important;
  border-color: #18a0fb !important;
  font-size: 15px;
  line-height: 18px;
}

.news-btn:hover {
  color: #fff !important;
  background-color: #18a0fb !important;
}

.news-btn:active {
  color: #fff !important;
  background-color: #18a0fb !important;
}
