.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-error{
  color: white;
  background-color: #384F77;
}
.img-404 {
  width: 70vw;
  display: flex;
}