.spinner-component-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.473);
}

.spinner-content {
  width: 400px;
  height: 280px;
  background-color: #fff;
  border-radius: 10px;
}

.spinner-loader {
  width: 100px !important;
  height: 100px !important;
}

.spinner-text {
  animation: loadingText 0.6s alternate infinite ease;
}

@keyframes loadingText {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
